.container-fluid{
	background-image: url("https://i.ibb.co/McyXntB/image-1.jpg");
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: brightness(10%); */
}

#sideNav{
	/* opacity: 0.1; */
}

.dev-icons li {
	width: 100px;
}


.formBox{
	padding: 50px;
	width: 500px;
	text-align: center;
}
.formBox  h1{
	margin: 0;
	padding: 0;
	text-align: center;
	margin-bottom: 50px;
	text-transform: uppercase;
	font-size: 48px;
}
.inputBox{
	position: relative;
	box-sizing: border-box;
	margin-bottom: 50px;
	display: inline-block;
}
.inputBox .inputText{
	position: absolute;
    font-size: 24px;
    line-height: 50px;
    transition: .5s;
    opacity: .5;
}
.inputBox .input{
	position: relative;
	width: 500px;
	height: 50px;
	background: transparent;
	border: none;
    outline: none;
	font-size: 24px;
	color : #495057;
    border-bottom: 1px solid #495057;

}
.focus .inputText{
	transform: translateY(-30px);
	font-size: 18px;
	opacity: 1;
	color: #bd5d38;

}
textarea{
	height: 100px !important;
}
.button{
	width: 530px;
    height: 50px;
    border: none;
    outline: none;
    color: #bd5d38;
    background: #495057;
}


.linkedinTT {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
  }
  
  .linkedinTT .linkedinTTtext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
  
	/* Position the linkedinTT */
	position: absolute;
	z-index: 1;
  }
  
  .linkedinTT:hover .linkedinTTtext {
	visibility: visible;
  }